/* HOME PAGE STYLING */

.nav-logo {
    font-size: 1.7rem;
    font-weight: 900;
    cursor: pointer;
}

.main-page-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 100fr;
}

.nav-container {
    padding: 1.2rem;
    /* border: 2px solid var(--accent); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.content-container {
    background-color: var(--deep-gray);
}
.content-container h1 {
    margin: 0;
}

.dashboard-icon-svg svg {
    /* fill: var(--accent); */
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}

.dashboard-icon-svg svg {
    /* fill: var(--accent); */
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}

.dashboard-icon-svg:hover {
    #dashboard-svgg {
        fill: var(--accent);
        stroke: var(--accent);
    }
}
.database-icon-svg svg {
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}

.database-icon-svg:hover {
    #database-svgg {
        stroke: var(--accent);
        fill: var(--accent);
    }
}

.table-icon-svg svg {
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}
.table-icon-svg:hover {
    #table-svgg {
        stroke: var(--accent);
    }
}

.logout-icon-svg svg {
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}

.logout-icon-svg:hover {
    #logout_svgg {
        stroke: var(--accent);
    }
}


.file-input::-webkit-file-upload-button {
    color: var(--gray200);
    font-weight: 700;
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: var(--accent);
    border-radius: var(--bdrad);
}

.file-input {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--accent);
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
