/* HOME PAGE STYLING */

.nav-logo {
    font-size: 1.7rem;
    font-weight: 900;
    cursor: pointer;
}

.main-page-container {
    /* width: 100%; */
    /* height: 100vh; */
    /* display: grid; */
    /* grid-template-columns: 1fr 100fr; */
}

.nav-container {
    border-right: 1px solid var(--accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 0; */

    height: 100vh;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background);
}

.nav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.content-container {
    padding: 1rem 1rem 5rem 1rem;
    background-color: var(--deep-gray);
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.content-container h1 {
    margin: 0;
}

.dashboard-icon-svg svg {
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}

.dashboard-icon-svg svg {
    /* fill: var(--accent); */
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}

.dashboard-icon-svg:hover {
    #dashboard-svgg {
        fill: var(--accent);
        stroke: var(--accent);
    }
}
.database-icon-svg svg {
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}

.database-icon-svg:hover {
    #database-svgg {
        stroke: var(--accent);
        fill: var(--accent);
    }
}

.table-icon-svg svg {
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}
.table-icon-svg:hover {
    #table-svgg {
        stroke: var(--accent);
    }
}

.logout-icon-svg svg {
    width: 34px;
    height: 34px;
    transition: all 0.3s ease 0s;
}

.logout-icon-svg:hover {
    #logout_svgg {
        stroke: var(--accent);
    }
}


.file-input::-webkit-file-upload-button {
    color: var(--deep-gray);
    font-weight: 800;
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: var(--accent);
    border-radius: var(--bdrad);
}

.file-input {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--accent);
    padding: 1rem;
    border-radius: 0.4rem 0 0 0.4rem;
    cursor: pointer;
}

.home-content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* border: 1px solid aquamarine; */
    margin-top: 0.9rem;
    gap: 2rem;
}

.status-line {
    border: 1px solid salmon;
    /* justify-content: end; */
    margin-top: auto;
}

.file-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.file-input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    align-items: center;
    width: 64%;
}
.file-input-label {
    border: 1px solid var(--gray400);
    border-radius: var(--bdrad);
    padding: 0.7rem 0.6rem;
    color: var(--gray300);
}

.file-input-field {
    padding: 0.5rem 0.6rem;
    border: 1px solid var(--gray400);
    color: var(--gray200);
    padding: 0.7rem 0.6rem;
    background-color: var(--deep-gray);
    font-size: 1rem;
    font-family: "montserratx", san-serif;
    border-radius: var(--bdrad);
}

.dash-header {
    font-weight: 900;
    font-size: 3rem;
    color: var(--accent);
}

.dash-subheader {
    font-weight: 500;
    font-size: 1.3rem;
}

.fheader {
    padding: 0 0.5rem;
}

.file-input-header {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
    font-weight: 400;
    color: var(--gray400);
}

.resize-60 {
    width: 60%;
}

.file-upload-group {
    display: flex;
    /* flex-direction: column; */
}

.file-submit-btn  {
  padding: 0.3rem 1rem;
  border-radius: 0 0.4rem 0.4rem 0;
  border: none;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--accent);
  transition: background-color 300ms ease-in-out;
}

.file-submit-btn:hover {
  background-color: #cf6559;
}

.mg-tp {
    margin-top: 1rem;
}

.invalid-file-form {
    /* outline: 1px solid red; */
    /* border: none; */
    outline: none;
    border: 1px solid red;
}

.phone-input-fields {
    display: flex;
    width: 100%;
}

.phone-input-fields .number-code {
    display: flex;
    /* background-color: var(--accent); */
    padding: 0.6rem;
    align-items: center;
    border: 1px solid var(--gray400);
    border-radius: var(--bdrad) 0 0 var(--bdrad);

    /* font-weight: bold; */
    color: var(--gray200);
}

.phone-input-fields .file-input-field {
    width: 100%;
    border-radius: 0 var(--bdrad) var(--bdrad) 0;
    outline: none;
    /* border: 2px solid var(--gray200); */
    border-left: none;
} 

.phone-input-fields .file-input-field:focus{
    border-color: var(--gray200);
    border-left: none;
}
.phone-input-fields .invalid-file-form:focus {
    border-color: red;
}
