@import url("./svg-styling.css");

:root {
  /* Color Variables   */
  --background: #010409;
  --deep-gray: #0d1117;
  --primary: #0094ff;
  --gray150: #f4f6fb;
  --grn: #2effdc;
  --muted: #2a2f36;
  --gray200: #eef1f6;
  --gray300: #e1e5ee;
  --gray400: #767b91;
}

@font-face {
  font-family: "MontserratX";
  src: url("./fonts/Montserrat-Var.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: "MontserratX", san-serif;
  box-sizing: border-box;
  color: var(--gray150);
}

header {
  width: 100%;
  border-bottom: var(--gray150);
}

.nav-container {
  padding: 1.5rem;
}

.logo {
  font-size: 1.5rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content ul {
  display: flex;
  list-style: none;
  gap: 1.98rem;
  font-size: 0.98rem;
}

/* .container { */
/* } */

.login-page {
  display: grid;

  /* padding-block: 2rem; */
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100vh;
}

.form-section {
  background-color: val(--primary);
  border: 1px solid var(--primary);
}

.brand-logo {
  font-size: 1.4rem;
  font-weight: 800;
  transition: font-weight 500ms;
}

.brand-logo:hover {
  font-weight: 800;
}

/* Hero Section Info */
.hero-section {
  background-color: var(--deep-gray);
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;
  border: 1px solid snow;
}
.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  gap: 1.2rem;
}

.hero-card-text {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.hero-card-h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 800;
}

.hero-card-p {
  font-size: 0.74rem;
  color: var(--gray300);
}

.svg-illustration {
  width: 400px;
  /* border: 1px solid sandybrown; */
  background-size: contain !important;
}

.emphasis {
  color: salmon;
}
