<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <!-- <header> -->
        <!--     {% block header %} -->
        <!--     {% endblock %} -->
        <!-- </header> -->
        <main>
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div id="flash-alert-id" class="flash-alert flash-alert-{{ category }}">
                                {{ message }}
                                <button class="close-alert" onclick="closeAlert()" aria-label="Close">&times;</button>
                            </div>
                        {% endfor %} 
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
        </main>
            
        {% block scripts %}
        <script defer src="{{ url_for('static', filename='js/validate.js') }}" crossorigin="anonymous"></script>
        <script defer src="{{ url_for('static', filename='js/main.js') }}" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
