<!DOCTYPE html>

<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='layout.css' )}}" rel="stylesheet">
    </head>
    <body>
        <!-- <header> -->
        <!--     <nav class="nav-container"> -->
        <!--         <div class="nav-content"> -->
        <!--             <div class="logo">Rapgen</div> -->
        <!--             <ul> -->
        <!--                 <li class="nav-item">Dashboard</li> -->
        <!--                 <li class="nav-item">Database Manager</li> -->
        <!--                 <li class="nav-item">Profile</li> -->
        <!--             </ul> -->
        <!--         </div> -->
        <!--     </nav> -->
        <!-- </header> -->
        <main>
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div id="flash-alert-id" class="flash-alert flash-alert-{{ category }}">
                                {{ message }}
                                <button class="close-alert" onclick="closeAlert()" aria-label="Close">&times;</button>
                            </div>
                        {% endfor %} 
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
        </main>
            
        {% block scripts %}
        <script defer src="{{ url_for('static', filename='js/main.js')}}" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
