<!DOCTYPE html>

<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='layout.css' )}}" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="nav-container">
                <div class="nav-content">
                    <div class="logo">Rapgen</div>
                    <ul>
                        <li class="nav-item">Dashboard</li>
                        <li class="nav-item">Database Manager</li>
                        <li class="nav-item">Profile</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>
